body {
    margin: 3%;
}

h1{
    color: grey;
    text-transform: uppercase;
    font-size: 220%;
}

/* adding display flex to first to section */
.sec{
    padding: 10px;
    display: flex;
    height: 500px;
    border-radius: 5px;
}

/* this section do not need flex */
.lastsec{
    padding: 10px;
    height: 500px;
    border-radius: 5px;
}

/* adding display flex to show the box side by side*/
.flex{
    display:flex;
    margin-top:20px;
}

/* styling school boxes */
.schools{
    border: rgb(223, 218, 218) solid 0.5px;
    margin: auto;
    border-radius: 15px;
    padding: 18px;
    width: 25%;
    height: 300px;
    overflow: auto;
}

/* setting width to subs div of first two section */
.half {
    width:50%;
}

/* text justify */
p{
    text-align: justify;
}

/* resizing paragraph area in about iub section */
.small{
    width: 90%;
}

/* shifting the img to right */
/* giving width, height and border radius to images */
.img{
    height:80%;
    width:70%;
    border-radius: 8px;
    margin-left: 15%;
}

/* hover effect */
.schools:hover{
    background-color: #6c0c0b;
    color: white;
}


/* footer */
footer{
    margin-top: 200px;
    font-size: x-small;
}